################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestCase/.vs/TestCase/v16
/TestHarness/.vs/TestHarness/v16
